body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(238, 235, 229);
    margin: 0;
    padding: 0;
    height: 7vh; 
    align-content: center;
    text-align: center;
}

main {
    background-image: url("stars.jpeg");
    height: 70vh;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column;   
}


/*margins for label and font size */
input, label {
    margin-bottom: 10px;
    font-size: 20px; 
}

input {
    padding: 8px;
    width: 250px; 
    border: 1px solid #000000;
    border-radius: 7px;
}

/* slider width */
input[type="range"] {
    width: 200px;
}


