body {
  fin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

article {
  display: grid;
  grid-template: 50px auto 20px / 100%;
  height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
}

header {
  font-size: 40px;
  text-shadow: 4px 1px 2px grey;
}

input,
select {
  border-radius: 5px;
  border-color: black;
  border: 2px solid;
}

footer {
  font-style: italic;
  font-size: 18px;
  text-shadow: 2px 1px 2px grey;
}

a {
  color: white;
}

form {
  display: grid;
  grid-template: auto auto auto auto / 10em 175px;
  gap: 5px;
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

main {
  background-image: url("stars.jpeg");
  background-color: lightgray;
  background-blend-mode: lighten;
  padding: 20px 10px 0px 10px;
  overflow: scroll;
  font-weight: 1000;
}

#apr {
  width: 105px;
}

#stocks {
  width: 30em;
}
